body {
	margin: 0px;
	font-family: Helvetica, Arial, sans-serif;

}
ul {
	background-color: lightgray;
	border-bottom: 2px gray solid;
	height: 40px;
	margin: 0px;
	padding: 5px;
}

li {
	text-decoration: none;
	display: inline-block;
	float: right;
	font-size: 20px;
	margin-top: 0px;
}
a{
	text-decoration: none;
	margin: 20px;
	color: darkgray;

}
a:hover, :visited {
	color: orange;
}

.container {
	background-color: white;
}

.topbar {
     background-color: black;
     height: 10px;
}

.header1 {
	background-color: whitesmoke;
	background-image: url("jeffSheldon.jpeg");
	height: 600px;
	color: white;
}
.header2 {
	background-color: lightgray;

	border-top: 2px solid gray;
	padding: 10px;
}
.list{
	text-decoration: none;
	display: inline-block;
	float: right;
	font-size: 20px;
	margin: 0px;
	width: 100%;

}
.leftlist{
	text-decoration: none;
	display: inline-block;
	float: left;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}
.circle {
	border-radius: 50%;
	border: 2px gray solid;
	width: 50px;
	height: 50px;
	color: gray;
	text-align: center;
	font-size: 20px;
	margin-top: -25px;
	line-height: 50px;
	background-color: white;
	margin: auto;
	margin-top: -25px;
}
.circletext {
}

#top-circle{
	height: 100px;
	width: 100px;
	margin-top: -50px;
	background-color: black;
	color: white;
	border: 5px white solid;
    line-height: 100px;
}

.small-circle{
	background-color: black;
}

.p1{
	margin: 0px;
	z-index: 1;
	font-size: 300px;
	line-height: 300px;
	display: inline-block;
    
}
.p2{
    margin: 0px;
	position: absolute;
	z-index: 0;
	font-size: 300px;
	line-height: 300px;
	display: none;
}
.lorem {
    padding: 20px;
    background-color: lightgray;
    border-top: 2px gray solid;
    min-height: 400px;

}
.p3{
	float: left;
	width: 33%;
	box-sizing: border-box;
	padding: 20px;
}

.orange{
	color: orange;
}
#header-p {
	color: black;
	font-size: 24px;
	margin-left: 20px;
}
.one-third {

}